<% layout('layout/boilerplate') %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3 text-center">
    <h2>Error <%= err.statusCode || 500 %></h2>
    <p><%= err.message %></p>
  </div>
</div>
